<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Lista de contatos
	</title>
	<meta charset="UTF-8">

<style>

body{

  background: -webkit-linear-gradient(left, #FF0000, #00c6ff);
  background: -o-linear-gradient(left, #FF0000, #00c6ff);
  background: -moz-linear-gradient(left, #FF0000, #00c6ff);
  background: linear-gradient(left, #FF0000, #00c6ff);
}


</style>
</head>
<h2 style="text-align: center">Lista de contatos</h2>


	<table id="usuario" style="width: 100%">
		<tr>
			<th>Nome</th>
			<th>Número</th>
			<th>Email</th>
			<th>Descriçã<object data="" type=""></object></th>
		</tr>
	</table>

	  

</body>
</html>
